<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CommonMapper">
	
	<select id="getCommon" resultType="com.entity.Common">
			select nowTime from common
			where id = 1
	</select>
	
	<select id="updateCommonSQL" parameterType="java.util.Map" >
		update common
		set nowTime=#{nowTime,jdbcType=TIMESTAMP}
		where id = 1
	</select>
</mapper> 