<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.PlanMapper">
	
	<select id="queryCidsByDayPid" resultType="com.entity.Category" parameterType="java.util.Map"  >
		SELECT distinct cid, cname FROM plans as A
		natural join foods as B
		natural join categories as C
		where A.foodId = B.foodId
		and B.categoryId = C.cid
		and A.day = #{day,jdbcType=INTEGER}
		and A.pid = #{pid,jdbcType=INTEGER};
	</select>	
	
	<select id="queryFoodsByDayPidCid" resultType="com.entity.Food" parameterType="java.util.Map"  >
		SELECT *, cname as category FROM plans as A
		natural join foods as B
		natural join categories as C
		where A.foodId = B.foodId
		and B.categoryId = C.cid
		and A.day = #{day,jdbcType=INTEGER}
		and A.pid = #{pid,jdbcType=INTEGER}
		and C.cid = #{cid,jdbcType=INTEGER};
	</select>
</mapper> 