<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StaffMapper">

	<select id="getStaffCount" resultType="int">
	    select count(*) from staff
	</select>
	<!-- 类的属性和表的列名是一致的，所以可以正常运行 -->
	<select id="selectAllStaff" resultType="Staff">
			select * from staff
	</select>
	<select id="selectStaff" resultType="com.entity.Staff">
			select sid,sname,smobile from staff where sid = #{sid}
	</select>
	
	
</mapper>