<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserMapper">

	<resultMap id="BaseResultMap" type="com.entity.User" >
	  <id column="uid" property="uid" jdbcType="INTEGER" />
	  <result column="uname" property="uname" jdbcType="VARCHAR" />
	  <result column="upassword" property="upassword" jdbcType="VARCHAR" />
	  <result column="umobile" property="umobile" jdbcType="VARCHAR" />
	  <result column="utype" property="utype" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List" >
	  uid, upassword,uname, umobile, utype
	</sql>
	
	<!-- 类的属性和表的列名是一致的，所以可以正常运行 -->
	<select id="selectAllStaff" resultType="com.entity.User">
			select * from users
	</select>
	<select id="selectStaff" resultType="com.entity.User">
			select uid,uname,umobile,utype from users where uid = #{uid}
	</select>
	
	<select id="queryBySid" resultMap="BaseResultMap" parameterType="java.lang.String" >
	  select 
	  <include refid="Base_Column_List" />
	  from users
	  where uid = #{uid,jdbcType=INTEGER}
	</select>
	
	<insert id="registUser" parameterType="com.entity.User">
		insert into users (uid, uname, umobile, upassword, utype)
		values (
		#{uid,jdbcType=INTEGER},
		#{uname,jdbcType=VARCHAR},
		#{umobile,jdbcType=VARCHAR},
		#{upassword,jdbcType=VARCHAR},
		0)
	</insert>
	
	<select id="ifExistCharacter" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
		select count(*) from characters
		where userId = #{userId,jdbcType=INTEGER}
	</select>
	
	<select id="getCharacter" resultType="com.entity.Character" parameterType="java.lang.Integer" >
		select * from characters
		where userId = #{userId,jdbcType=INTEGER}
	</select>
	
	<insert id="insertCharacter" parameterType="com.entity.Character">
		insert into characters (userId, provinceCode, province, cityCode, city, nation, taste, tall, height, eatHabit, prepare, alcohol, attention)
		values (
		#{userId,jdbcType=INTEGER},
		#{provinceCode,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{cityCode,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{nation,jdbcType=VARCHAR},
		#{taste,jdbcType=VARCHAR},
		#{tall,jdbcType=VARCHAR},
		#{height,jdbcType=VARCHAR},
		#{eatHabit,jdbcType=VARCHAR},
		#{prepare,jdbcType=VARCHAR},
		#{alcohol,jdbcType=INTEGER},
		#{attention,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateCharacter" parameterType="com.entity.Character" >
		update characters
		set 
			provinceCode = #{provinceCode,jdbcType=VARCHAR},
			province = #{province,jdbcType=VARCHAR},
			cityCode = #{cityCode,jdbcType=VARCHAR},
			city = #{city,jdbcType=VARCHAR},
			nation = #{nation,jdbcType=VARCHAR},
			taste = #{taste,jdbcType=VARCHAR},
			tall = #{tall,jdbcType=VARCHAR},
			height = #{height,jdbcType=VARCHAR},
			eatHabit = #{eatHabit,jdbcType=VARCHAR},
			prepare = #{prepare,jdbcType=VARCHAR},
			alcohol = #{alcohol,jdbcType=INTEGER},
			attention = #{attention,jdbcType=VARCHAR}
		where userId = #{userId,jdbcType=INTEGER}
	</update>
	
</mapper>